.page-heading {
    border-bottom: 1px dashed rgb(220,220,220);
    padding-bottom: 5px;
    margin-bottom: 2%;
}

@media (min-width: 300px) {
	/*
	* styles go here
	*/
	.edit-button {
		margin-bottom: 10px;
	}

}  